.no-support-message { display:none; }
.impress-not-supported .no-support-message { display:block; }

/* additional styles just to make things look a bit nicer */
body { background:#EEEEEE; color:#333; width: 100%;-webkit-user-select:none;}
.step { width: 1000px; margin:0 auto 24px auto; text-align:center; }
p {
  font-size: 25px;
}
.des {
  text-align: left;
}
li {
  font-size: 22px;
}
.r {
  font: red;
}
.modal {
  position: fixed;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  opacity: 0;
  overflow-y: scroll;
  width: 100%;
  background: white;
  transition-property: opacity;
  transition-duration: 0.8s;
  transition-timing-function: ease, ease-in;
}
.modale {
  position: fixed;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  opacity: 0;
  overflow-y: scroll;
  width: 100%;
  background: white;
  height: 480px;
  transition-property: opacity;
  transition-duration: 0.8s;
  transition-timing-function: ease, ease-in;
}