<div class="step" data-x="-2200" data-y="-14000" data-rotate-x="30" data-rotate-y="-60" data-rotate-z="90" data-scale="3">
  <div class="des">
    <h2>研究背景：</h2>
    <p style="font-size: 20px;padding: 10px">
      数字の識別はよくKNN方法を使う。とても高い確率を持ちますけれど、プログラムの計算複雑度と必要なパソコン資源が非常に多いです。毎回識別するたびに、複雑な計算を行わなければならない[➀][➂]。ロジスティック回帰は汎用性が高い、計算が簡単、動態なプログラムができる。現在、沢山IT会社はロジスティック回帰を使い、クライアントの使用データを分析し、アプリケーションを更新する[➁]。
    </p>
    <div>
      <h2>研究目的：</h2>
      <img src="resources/logist.png" style="float: right; margin-left: 10px" width="32%">
      <p>
        <span style="font-size: 15px;font-weight: bolder">[sigmoid 函数: g(x)=1/1+e^(−z), z=w1x1+w2x2+w3x3+··wnxn][➀][➁]</span><br>
        最急降下法(最急上昇法)の方法を研究し、計算量を減らし、格好な回帰係数（<span style="color: red">重み係数</span>）を探し、分類モデルの波動が減り、該当アルゴリズムを最適化にします。
      </p>
    </div>
  </div>
  <br>
  <div class="test des">
    <p style="font-size: 10px">➀:Machine Learning in Action[Peter Harrington]➁:Logistic Regression 模型简介[美团技术团队]➂:机器学习十大算法系列[CSDN-深度学习思考者]</p>
  </div>
</div>
<script></script>