<div class="step" data-x="500" data-y="-400" data-scale="0.4">
  <p style="margin-bottom: 5px;font-size: 22px;" class="des"> 
  Webサイドのコンポーネントとは：<br>
  &nbsp;&nbsp;Webページの中の内容を一つずつ分け、コンポーネント(component)とする。
  そうすればいくつ長所がある。
  </p>
  <ul style="margin-bottom: 7px;margin-top: 5px;font-size: 20px" class="des">
    <li>大きなページを一つずつ小さくし、独立で開発し、Webサイドを作ることのが効率高い</li>
    <li>ページのコードを見る時、わかりやすい。</li>
    <li>サイドを維持すると、なかなか簡単になる</li>
  </ul>
  <img src="/resources/Cmp.png" width="81%">
  <p style="margin-top: 3px" class="des">
    ですから、プログラミングを開発する時、コンポーネントを開発単位として、それぞれを作り、最後に組み立てて良い。
  </p>
  <div class="modal" id="code1" ondblclick="ec.fn.showCmpcode()">
    <div class="des">
      <img src="/resources/code.png" style="float: left; margin-right: 15px" width="42%">
      <p>       
        index.htmlのファイルははっきりになる。開発者が自由にHTMLタグを定義できる。コードを読む場合は覚えやすくて、わかりやすい。
      </p>
    </div>
    <div style="padding: 8px">
      <img src="/resources/cmp2.png" width="99%">
      <p class="des">
        それぞれのコンポーネントを独立に管理し、開発の時と維持の時も効率が高い。それに、コンポーネントのファイルのタイプは要求がなくて、.html、.txtなども良い。特別なデコーダを設定、配置するのは要らない。ファイルの文法もしくは書き方はHTMLと同じです。
      </p>
    </div>   
  </div>
</div>
<script>
  var show = false
  ec.fn.showCmpcode = function(o) {
    if(!show) {
      ec.s('#code1').style = "opacity:1"
    } else {
      ec.s('#code1').style = "opacity:0"
    }
    show = !show
  }
</script>