<div class="step" data-x="0" data-y="0" data-scale="0.4">
  <h1>Webサイドのフレームワーク：<span style="color: red">easycmp.js</span></h1>
  <h2>コンポーネント化でWebサイドを開発できるフレームワーク</h2>
  <h3 class="des" style="margin-bottom: 8px;">研究背景：</h3>
  <div>
    <div style="width: 79%;float: left">
      <p class="des" style="font-size: 20px;margin-top: 8px">
        最初、コンポーネントの概念をWebサイドで定義して使うのは<span style="color: red">ExtJS、Dojo</span>フレームワークです。しかし、技術を発展するとともに色々な不足を現す(性能低い、大きさ大きすぎ、不自由)。遂に、次世代フレームワーク<span style="color: red">React.js</span>を代表として、今世界で流行っている。<a href="https://ja.wikipedia.org/wiki/フロントエンド" style="text-decoration: none;color: red">font-end</a>開発技術の現在、コンポーネント化の開発理念は最も重要になる。開発が安くなるし、コードをわかりやすいし、さまざまな長所を持っているが、欠点もある。最も有名なフレームワークを例として：
      </p>
      <ul class="des">
        <li style="font-size: 19px;">
          React：
          <div>
            性能は最も高いですが、勉強するのが一番難しい。更に、Reactに対すて必要なツールがいくつある(jsx、Reduxなど)。あまり使用し安くない。
          </div>
        </li>
        <li style="font-size: 19px;">
          Angular:
          <div>
            必要なツールはReactより少ないですが、フレームだけの大きさも800kbがある。Webページのダウンロードスピードとロードスピードは最も遅い。それに、あまり使わない機能沢山ある。
          </div>
        </li>
        <li style="font-size: 19px;">
          Vue:
          <div>
            Angularより大きさが小さい。Reactより簡単になる。しかし、Vueのツールが最も少なくて、Vueの資源も少ない(前のフレームと比べたら)
          </div>
        </li>
      </ul>
    </div>
    <div style="width: 20%;float: left">
      <img src="resources/RAV.jpg" width="70%">
      <div>
        図１
      </div>
    </div>
  </div>
</div>
<script></script>